/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');




/* .btn {
    box-shadow:
        -10px 10px 7px 20px rgba(142, 158, 204, 0.75),
        10px -10px 7px 20px rgba(255, 169, 31, 0.75),
        10px 10px 7px 20px rgba(184, 146, 255, 0.75);

    margin-top: 50px;
    margin-left: 50px;
} */

body {
    background-color:#EEFCF9
    font-family: 'Funnel Sans', sans-serif;
}


.btn{
    color: black;
    background-color:rgba(142, 158, 204, 0.75);
    border-color: black;
}

.btn:hover {
    color: black;
    background-color:rgba(184, 146, 255, 0.75);
    border-color: black;
}

.navbar, footer {
    background-color: grey;
    color: rgba(142, 158, 204, 0.75);
}

.div {
    box-shadow:
        0px 0px 10px 15px rgba(255, 169, 31, 0.75);
}

.intro {
    margin-top: 160px ;
}

footer {

}